body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    
  }

  nav {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    height: 250px;
    width: 100%;
    align-content: center;
    font-size: 28px;
  }

  .child {
    color:silver;
    width: 500px;
    margin: 5px;
    align-self: center;
    font-family:  'Roboto Condensed',sans-serif;
    height: 100px;
    font-size:20px;
  }

  .super {
    height: 100vh;
    width:100%;
    background-image: url(bgImg.jpg);
    background-size: cover;
    background-position: center;
  }
span {
  color:red;
}
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }

  nav ul li a:hover {
    color:red;

  }
  .contact-container {
    display:flex;
    flex-wrap: wrap;
    height: 485px;
    width: 100%;
    background-color: silver;
    justify-content: space-around;
  }
  .contact-heading {
      justify-self:center;
  } 
  .contact-form {
    display: flex;
    justify-content: space-around;
  flex-direction: column;

  }


  .sec-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  